/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 .navbarstyle {
  background-color:#FAFAFA;
   width:100%;
   position:fixed;
   z-index:10;
 }
.change h1 {
  color:#66BB6A;
  float:left;
}
 .change h1:hover {
   color:#e53935;

 }
 .ch {
   position:relative;
   margin-top:80px;
 }
 .kuai {
   width:200px;
   height:140px;


 }
 .change1 h2 {
   color:#512DA8;
   float:left;
 }
 .change1 h2:hover{
   color:#FBC02D;
 }

 .bodyindex{
   margin-top:50px;

   z-index:-1;
   min-height:100%;
   margin-bottom:70px;

 }


 .footerstyle {
   background-color:#FAFAFA;
   color:#263238;
  position:fixed;
  height:70px;
   text-align:center;
   width:100%;
  bottom:0;
  padding:7px;
   font-size:20px;
  left:0;
   z-index:101;
 }
 // 以下为搜索专用
   #search-id {
    width: 200px;
    margin-top: 7px;
    margin-left:50px;

   }
   .jobs-show0 {
  border-bottom: 1px dotted #CCC;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
}

.jobs-show {
  border-bottom: 1px dotted #CCC;
  padding: 15px;
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
}


.job-table {
  margin-left: 15px;
  margin-right: 15px;
}


.search-info-title {
  font-family: PingFangSC-Medium, Arial, Helvetica, sans-serif;
  color: #0d6ded;
  font-size: 20px;
  text-align: center;
}
